<!-- Projeto Desenvolvido na Data Science Academy - www.datascienceacademy.com.br -->
# <font color='blue'>Data Science Academy</font>
## <font color='blue'>Data Science Para Análise Multivariada de Dados</font>
## <font color='blue'>Projeto 2 - Parte 1 - Pré-Processamento</font>
### <font color='blue'>Seleção de Modelos de Machine Learning em Análise Multivariada com Dados Anonimizados</font>

### Instalando e Carregando Pacotes

In [1]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
# !pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
!pip install -q -U watermark

In [5]:
# Imports
import pandas as pd
import numpy as np
import pickle #Salvar títulos das colunas em um único arquivo

In [3]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy"

Author: Data Science Academy

## Carregando os Dados

In [7]:
# Carregando os dados
df_dsa = pd.read_csv("dados/dataset.csv")

In [9]:
# Shape
df_dsa.shape

(11500, 179)

In [11]:
# Visualizando alguns registros
df_dsa.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,False
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,True
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,False
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,False
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,False

## Análise Exploratória e Limpeza de Dados

In [15]:
# Categorias da variável alvo
#Variável Label Target é se um cliente renovou ou não um seguro do carro
#False não renovou
#True renovou
df_dsa.LABEL_TARGET.value_counts()

LABEL_TARGET
False    9200
True     2300
Name: count, dtype: int64

Observe que os dados estão desbalanceados, quando temos uma quantidade muito maior em relação a outra o modelo vai aprender e ficar tendencioso a um lado

In [17]:
# Converte de string para valor numérico
df_dsa["LABEL_TARGET"] = df_dsa["LABEL_TARGET"].astype(int)

In [19]:
# Visualizando alguns registros
df_dsa.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,0
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,1
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,0
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,0
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,0

In [21]:
print("Número de colunas:", len(df_dsa.columns))

Número de colunas: 179

In [23]:
# Resumo estatístico
df_dsa.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
count,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.00000,11500.00000,11500.000000,...,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000
mean,-11.581391,-10.911565,-10.187130,-9.143043,-8.009739,-7.003478,-6.502087,-6.68713,-6.55800,-6.168435,...,-10.145739,-11.630348,-12.943478,-13.668870,-13.363304,-13.045043,-12.705130,-12.426000,-12.195652,0.200000
std,165.626284,166.059609,163.524317,161.269041,160.998007,161.328725,161.467837,162.11912,162.03336,160.436352,...,164.652883,166.149790,168.554058,168.556486,167.257290,164.241019,162.895832,162.886311,164.852015,0.400017
min,-1839.000000,-1838.000000,-1835.000000,-1845.000000,-1791.000000,-1757.000000,-1832.000000,-1778.00000,-1840.00000,-1867.000000,...,-1867.000000,-1865.000000,-1642.000000,-1723.000000,-1866.000000,-1863.000000,-1781.000000,-1727.000000,-1829.000000,0.000000
25%,-54.000000,-55.000000,-54.000000,-54.000000,-54.000000,-54.000000,-54.000000,-55.00000,-55.00000,-54.000000,...,-55.000000,-56.000000,-56.000000,-56.000000,-55.000000,-56.000000,-55.000000,-55.000000,-55.000000,0.000000
50%,-8.000000,-8.000000,-7.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.00000,-7.00000,-7.000000,...,-9.000000,-10.000000,-10.000000,-10.000000,-10.000000,-9.000000,-9.000000,-9.000000,-9.000000,0.000000
75%,34.000000,35.000000,36.000000,36.000000,35.000000,36.000000,35.000000,36.00000,36.00000,35.250000,...,34.000000,34.000000,33.000000,33.000000,34.000000,34.000000,34.000000,34.000000,34.000000,0.000000
max,1726.000000,1713.000000,1697.000000,1612.000000,1518.000000,1816.000000,2047.000000,2047.00000,2047.00000,2047.000000,...,1777.000000,1472.000000,1319.000000,1436.000000,1733.000000,1958.000000,2047.000000,2047.000000,1915.000000,1.000000

In [25]:
# Verificando se há valores ausentes
df_dsa.isnull().values.any()

False

In [27]:
# Extrai a lista de colunas
lista_de_colunas = df_dsa.columns.tolist()

In [29]:
# Colunas das variáveis de entrada (input)
colunas_entrada = lista_de_colunas[0:178]

In [31]:
print(colunas_entrada)

['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X72', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X93', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X107', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X121', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X149', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178']

In [33]:
# Checando se temos colunas duplicadas nos dados de entrada
#Para cada valor de x em colunas_entradas, se o count da coluna for maior que 1 vou retornar x , se eu não retornar nada é porque não temos colunas duplicadas
dup_cols = set([x for x in colunas_entrada if colunas_entrada.count(x) > 1])
print(dup_cols)
assert len(dup_cols) == 0, "você duplicou colunas em cols_input"

set()

In [35]:
# Checando se temos colunas duplicadas no dataset completo
dup_cols = set([x for x in lista_de_colunas if lista_de_colunas.count(x) > 1])
print(dup_cols)
assert len(dup_cols) == 0,'você duplicou colunas em lista_de_colunas'

set()

In [37]:
# Categorias da variável alvo
df_dsa.LABEL_TARGET.value_counts()

LABEL_TARGET
0    9200
1    2300
Name: count, dtype: int64

A prevalência é a porcentagem das amostras que têm a característica que você está tentando prever. Em nosso caso, significa que as pessoas que renovaram o seguro são da classe positiva (ocorrência do evento) e quem não comprou é da classe negativa (não ocorreu o evento).

Os termos positivo e negativo não têm conotação de coisa boa ou ruim. É apenas a nomenclatura usada para indicar a ocorrência ou não do evento.

A taxa é calculada por (número de amostras positivas / número de amostras). Portanto, uma taxa de prevalência de 0,2 significa que 20% de nossa amostra renovou o seguro do carro.

In [19]:
# Esta função calcula a prevalência da classe positiva (label = 1)
def calcula_prevalencia(y_actual):
    return sum(y_actual) / len(y_actual)

In [20]:
print("Prevalência da classe positiva: %.3f"% calcula_prevalencia(df_dsa["LABEL_TARGET"].values))

Prevalência da classe positiva: 0.200

> O desbalanceamento de classe é um problema que terá que ser resolvido durante o pré-processamento dos dados.

Um desbalançamento de 80 / 20 é muito alto, os dados não precisam ser iguais, não não pode ter tanto desbalançamento, o ideal é ficar algo como  60 / 40 , 50 /50 , 45 / 55 , 52 / 48 ... dados próximos , não exatos, mas próximos

O balanceamento é para treinar o modelo. Aplico o treinamento somente em treino

## Divisão dos Dados Mantendo a Prevalência de Classe

In [39]:
# Gerando amostras aleatórias dos dados
df_data = df_dsa.sample(n = len(df_dsa))

In [41]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
11043,1,-47,-100,-192,-252,-277,-268,-216,-153,-111,...,-70,-19,18,-2,-40,-51,7,145,282,1
9359,-15,-19,-34,-42,-41,-26,-6,10,25,25,...,95,70,49,18,5,-19,-26,-25,-16,0
1280,218,211,219,242,273,295,318,336,358,372,...,173,175,168,178,204,253,291,291,258,1
4910,147,197,229,225,201,142,93,43,30,10,...,-66,-79,-113,-141,-151,-115,-65,-11,7,0
8182,-8,-7,-7,4,17,23,25,28,36,19,...,-5,-49,-52,-40,-7,35,56,69,68,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10096,-141,-182,-241,-314,-402,-551,-722,-836,-883,-805,...,187,348,464,532,569,588,610,631,648,1
6232,-30,-44,-53,-59,-70,-87,-99,-102,-105,-107,...,19,9,3,6,6,3,2,4,12,0
5906,62,72,80,69,40,-3,-36,-66,-79,-64,...,39,52,59,58,50,26,-5,-29,-37,0
10203,-60,-51,-60,-69,-84,-96,-102,-98,-98,-99,...,-83,-106,-75,-37,36,86,139,167,175,0
845,179,352,502,590,602,532,389,187,-88,-284,...,-42,-161,-223,-257,-250,-182,-99,-25,16,1

In [43]:
# Ajustando os índices do dataset
#Colocando os índices na ordem
df_data = df_data.reset_index(drop = True)

In [45]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,1,-47,-100,-192,-252,-277,-268,-216,-153,-111,...,-70,-19,18,-2,-40,-51,7,145,282,1
1,-15,-19,-34,-42,-41,-26,-6,10,25,25,...,95,70,49,18,5,-19,-26,-25,-16,0
2,218,211,219,242,273,295,318,336,358,372,...,173,175,168,178,204,253,291,291,258,1
3,147,197,229,225,201,142,93,43,30,10,...,-66,-79,-113,-141,-151,-115,-65,-11,7,0
4,-8,-7,-7,4,17,23,25,28,36,19,...,-5,-49,-52,-40,-7,35,56,69,68,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,-141,-182,-241,-314,-402,-551,-722,-836,-883,-805,...,187,348,464,532,569,588,610,631,648,1
11496,-30,-44,-53,-59,-70,-87,-99,-102,-105,-107,...,19,9,3,6,6,3,2,4,12,0
11497,62,72,80,69,40,-3,-36,-66,-79,-64,...,39,52,59,58,50,26,-5,-29,-37,0
11498,-60,-51,-60,-69,-84,-96,-102,-98,-98,-99,...,-83,-106,-75,-37,36,86,139,167,175,0
11499,179,352,502,590,602,532,389,187,-88,-284,...,-42,-161,-223,-257,-250,-182,-99,-25,16,1

In [47]:
# Extrai uma amostra de 30% dos dados de forma aleatória
df_amostra_30 = df_data.sample(frac = 0.3)

In [49]:
df_amostra_30

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
7545,21,40,63,77,92,95,90,73,35,3,...,29,50,67,78,76,69,67,78,72,0
632,-7,-7,-7,-5,-7,-13,-17,-35,-46,-56,...,-114,-111,-113,-104,-88,-73,-63,-50,-38,0
8482,30,27,26,14,10,9,11,14,11,14,...,25,19,14,8,9,10,18,22,32,0
2363,-18,-8,13,46,65,81,86,86,68,56,...,-22,-7,7,2,6,-5,-5,-4,2,0
3279,152,337,433,451,331,-79,-804,-1521,-1840,-1592,...,-242,64,212,328,408,442,442,404,327,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,-27,-29,-28,-25,-25,-20,-11,-17,-21,-21,...,-128,-128,-102,-73,-45,-32,-20,-10,-7,0
6086,-29,-43,-37,-28,-20,-19,2,12,19,34,...,51,82,123,140,137,123,134,129,86,0
3594,-23,-28,-50,-79,-101,-104,-81,-28,22,6,...,-11,3,21,51,47,43,58,56,60,0
7788,-27,-24,-8,5,16,15,6,-8,-16,-11,...,-32,-24,-4,13,28,26,21,25,23,0
10802,85,86,84,85,89,88,89,91,86,72,...,33,44,49,51,51,54,55,52,53,0

In [51]:
print("Tamanho da divisão de validação / teste: %.1f" % (len(df_amostra_30) / len(df_data)))

Tamanho da divisão de validação / teste: 0.3

In [55]:
# Faz a divisão dos dados em treino (70%), teste (15%) e validação (15%)

# Presumindo que df_amostra_30 contém 30% dos dados originais selecionados aleatoriamente de df_data

# Seleciona metade (50%) dos 30% para ser o conjunto de teste (resultando em 15% do total)
df_teste = df_amostra_30.sample(frac=0.5)

# O restante dos 30% que não foi para o teste é utilizado como validação (outros 15% do total)
df_valid = df_amostra_30.drop(df_teste.index)

# O conjunto de treino é composto pelo que sobrou dos dados, ou seja, os 70% que não estão em df_amostra_30
df_treino = df_data.drop(df_amostra_30.index)

In [57]:
df_teste

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
4879,-12,-17,-12,-21,-29,-34,-34,-42,-44,-41,...,-84,-74,-65,-46,-36,-20,-14,-6,-8,0
11435,-53,-62,-77,-77,-68,-49,-27,-5,8,23,...,-74,-38,-17,-14,-21,-29,-43,-46,-46,0
2641,145,121,46,-49,-104,-125,-98,-62,-35,-6,...,75,83,64,21,-13,-58,-110,-119,-88,0
6622,-60,-47,-33,-20,-2,11,25,22,19,9,...,39,32,22,0,-16,-27,-28,-21,-17,0
10278,43,37,30,22,13,6,-8,-13,-9,-1,...,-82,-51,-11,1,-5,-22,-34,-36,-37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,-31,-40,-48,-55,-55,-51,-44,-38,-36,-32,...,-10,-1,1,-5,-3,4,12,20,16,0
966,35,41,39,37,28,22,10,6,6,9,...,-143,-161,-174,-185,-194,-191,-182,-166,-142,0
9931,-16,-13,-13,-14,-10,-17,-9,-14,-16,-20,...,15,12,16,22,26,25,14,10,1,0
7966,48,47,42,38,42,50,57,61,66,67,...,21,28,33,41,45,52,55,57,59,0
2720,-286,-282,-280,-279,-275,-271,-269,-269,-269,-268,...,184,123,131,139,141,156,178,166,75,1

In [59]:
df_valid

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
3279,152,337,433,451,331,-79,-804,-1521,-1840,-1592,...,-242,64,212,328,408,442,442,404,327,1
4982,-43,-42,-40,-34,-28,-15,-17,-15,-14,-15,...,15,16,15,11,7,3,8,13,14,0
7521,49,96,81,30,-22,-74,-105,-91,-65,-37,...,-3,28,49,35,0,-41,-58,-66,-78,0
7388,62,68,75,75,75,77,81,85,82,81,...,-1,-2,-1,9,18,22,30,36,41,0
10877,41,-6,-26,-37,-71,-69,-31,18,71,102,...,-18,-35,-79,-135,-162,-158,-122,-63,-35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9351,-35,-35,-26,-17,-41,-102,-159,-138,-103,-43,...,-28,1,-26,-12,32,51,34,45,39,0
9516,-28,-8,8,10,8,6,-1,9,23,38,...,-38,-37,-26,-21,-4,9,14,3,-17,0
10389,-78,-75,-77,-77,-70,-66,-58,-49,-44,-41,...,-16,-10,-16,-31,-44,-53,-62,-66,-68,0
2054,-27,-29,-28,-25,-25,-20,-11,-17,-21,-21,...,-128,-128,-102,-73,-45,-32,-20,-10,-7,0
7788,-27,-24,-8,5,16,15,6,-8,-16,-11,...,-32,-24,-4,13,28,26,21,25,23,0

In [61]:
df_treino

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,1,-47,-100,-192,-252,-277,-268,-216,-153,-111,...,-70,-19,18,-2,-40,-51,7,145,282,1
3,147,197,229,225,201,142,93,43,30,10,...,-66,-79,-113,-141,-151,-115,-65,-11,7,0
4,-8,-7,-7,4,17,23,25,28,36,19,...,-5,-49,-52,-40,-7,35,56,69,68,0
8,-18,-75,-129,-151,-138,-100,-36,18,51,86,...,6,-23,-51,-68,-52,-17,11,32,45,0
9,-70,-1,187,470,672,823,671,326,-46,-274,...,-29,-25,-37,61,143,114,35,66,-48,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11493,-15,-3,11,37,53,69,74,100,94,97,...,67,58,47,31,18,0,-21,-35,-37,0
11495,-141,-182,-241,-314,-402,-551,-722,-836,-883,-805,...,187,348,464,532,569,588,610,631,648,1
11496,-30,-44,-53,-59,-70,-87,-99,-102,-105,-107,...,19,9,3,6,6,3,2,4,12,0
11497,62,72,80,69,40,-3,-36,-66,-79,-64,...,39,52,59,58,50,26,-5,-29,-37,0
11498,-60,-51,-60,-69,-84,-96,-102,-98,-98,-99,...,-83,-106,-75,-37,36,86,139,167,175,0

In [32]:
# Verifique a prevalência de cada subconjunto
print(
    "Teste(n = %d): %.3f"
    % (len(df_teste), calcula_prevalencia(df_teste.LABEL_TARGET.values))
)
print(
    "Validação(n = %d): %.3f"
    % (len(df_valid), calcula_prevalencia(df_valid.LABEL_TARGET.values))
)
print(
    "Treino(n = %d): %.3f"
    % (len(df_treino), calcula_prevalencia(df_treino.LABEL_TARGET.values))
)

Teste(n = 1725): 0.192
Validação(n = 1725): 0.218
Treino(n = 8050): 0.198

## Balanceamento de Classe

Vamos aplicar a estratégia de undersampling. Leia o material no Capítulo 8 com a definição dos conceitos.

In [33]:
df_teste.shape

(1725, 179)

In [34]:
df_valid.shape

(1725, 179)

In [35]:
df_treino.shape

(8050, 179)

In [36]:
df_treino.LABEL_TARGET.value_counts()

LABEL_TARGET
0    6457
1    1593
Name: count, dtype: int64

In [37]:
# Cria um índice com True/False
indice = df_treino.LABEL_TARGET == 1

In [38]:
# Define valores positivos e negativos do índice, vou usar isso para remover os dados que não quero
df_train_pos = df_treino.loc[indice]
df_train_neg = df_treino.loc[~indice]

In [39]:
# Valor mínimo de registros entre classe positiva e negativa
valor_minimo = np.min([len(df_train_pos), len(df_train_neg)])

In [40]:
valor_minimo

1593

In [41]:
# Obtém valores aleatórios para o dataset de treino
df_treino_final = pd.concat([df_train_pos.sample(n = valor_minimo, random_state = 69), 
                             df_train_neg.sample(n = valor_minimo, random_state = 69)], 
                            axis = 0, 
                            ignore_index = True)

In [42]:
# Amostragem aleatória do dataset de treino
df_treino_final = df_treino_final.sample(n = len(df_treino_final), random_state = 69).reset_index(drop = True)

In [43]:
df_treino_final.shape

(3186, 179)

In [44]:
df_treino_final.LABEL_TARGET.value_counts()

LABEL_TARGET
0    1593
1    1593
Name: count, dtype: int64

In [45]:
# Balanceamento do conjunto de dados
#Vai mostrar os 50
print('Balanceamento em Treino(n = %d): %.3f'%(len(df_treino_final), 
                                               calcula_prevalencia(df_treino_final.LABEL_TARGET.values)))

Balanceamento em Treino(n = 3186): 0.500

## Salvando o Resultado do Pré-Processamento

In [46]:
# Salvamos todos os datasets em disco no formato csv
df_treino.to_csv('dados/dados_treino.csv', index = False)
df_treino_final.to_csv('dados/dados_treino_final.csv', index = False)
df_valid.to_csv('dados/dados_valid.csv', index = False)
df_teste.to_csv('dados/dados_teste.csv', index = False)

In [47]:
# Salvamos os nomes dos dados de entrada (colunas preditoras) para facilitar a utilização mais tarde
pickle.dump(colunas_entrada, open('dados/colunas_entrada.sav', 'wb'))

# Continuaremos o Projeto no Próximo Capítulo!

In [48]:
%reload_ext watermark
%watermark -a "Data Science Academy"

Author: Data Science Academy

In [49]:
#%watermark -v -m

In [50]:
#%watermark --iversions

# Fim